.parrafo {
    font-family: 'Alegreya', serif;
    border: 3px yellow dotted;
    padding: 10px;
    margin: 10px;
}
.cajasFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .bordeRedondeado {
        border-radius: 30px;
        width: 300px;
        height: 300px;
        margin: 10px;
        border: 2px solid;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }
}
.iframe{
    text-align: center;
}
p {
    text-align: center;
    line-height: 1.5;
}
h1, h2, h3, h4 {
    font-family: 'Courgette', cursive;
    text-align: center;
    padding: 10px;
}
.formulario{
    width: 500px;
    margin: 10px auto;
    padding: 20px;
}